#not-found{
    font-size: large;
    background-color: aliceblue;
    width: 35vw;
    padding: 4rem 2rem;
    border-radius: 10px;
    margin-top: -10rem;

    text-align: center;
    font-weight: 700;
    font-size:40px;  

}